/*************************************************
************* TABLE OF CONTENTS ******************

Colors:
  #333333 (paragraph grey)
  #383E4C (dark grey navigation background)
  #49505F (grey navigation background on hover)
  #646d7c (light grey border element)
  #666666 (header grey)
  #D0D0D0 (button border color)
  #F2F2F2 (light-grey feature card bg)
  #F9F9F9 (button bg color)
  #178A27 (green text & button color)
  #449D44 (green hover)
  #1686C1 (blue text color)
  #31B0D5 (blue hover)
  #852406 (red button color)
  #C9302C (red hover)


0. General
0.1 Headings
0.2 Containers
0.3 Sections
0.4 Buttons
1. Navigation Bar
2. Top Heading
3. Features
4. Blog
5. Services
6. Testimonials
7. Contact
8. Footer

*************************************************/


/***************** 0. General *******************/

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
 scroll-behavior: smooth;
  text-align: center;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #666666;
}

h2 {
  font-weight: 600;
}

p {
  color: #666666;
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.6em;
  text-align: left;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: 0;
  border-top: 1px solid #D0D0D0;
}

/* Same card height for all cards in the row. */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 10px;
}

@media only screen and (min-width: 521px) {
  /* For mobile: */
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For medium screen size: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen and (min-width: 992px) {
  /* For desktop: */
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

.card {
  background-color: #F2F2F2;
  height: 100%;
}

.card-text p {
  padding: 20px;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/***************** 0.1 Headings *******************/

.top-heading {
  color: #fff;
  font-size: 5rem;
  font-weight: 300;
  padding-bottom: 20px;
  text-shadow: 2px 2px black;
}

@media (max-width: 480px) {
  .top-heading {
    font-size: 4rem;
  }
}

.sub-heading {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  text-shadow: 1px 1px black;
}

.mid-heading {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 20px;
  text-shadow: 2px 2px #666666;
}

/***************** 0.2 Containers *******************/

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
}

@media (min-width: 768px){
  .container {
    width: 750px;
    }
  }

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/***************** 0.3 Sections *******************/

section {
  margin-bottom: 50px;
}

.heading-img {
  background-image: url("../images/bg-1.jpg");
}

/***************** 0.4 Buttons *******************/

.btn {
  background-color: #F9F9F9;
  border: 1px solid #D0D0D0;
  border-radius: 15px;
  color: #666666;
  display: inline-block;
  font-size: 1.4rem;
  margin: 20px auto;
  padding: 12px 40px;
}

.btn:hover {
  background-color: #E0E0E0;
}

/* Source: W3 School's How TO - Scroll Back To Top Button tutorial: https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */
#topBtn {
  display: none;
  content; "";
  position: fixed;
  bottom: 100px;
  right: 80px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #333333;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
  height: 0;
  width: 0;
}

.cicle-fa {
  color: #333333;
  border-radius: 100%;
  bottom: 50px;
  right: 30px;
}

/***************** 1. Navigation Bar *******************/

.navigation {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navibar {
  list-style: none;
  margin: 10px;
  overflow: hidden;
  padding: 0;
}

.navigation ul a {
  background-color: #383E4C;
  border: 1px solid #646d7c;
  color: #fff;
  display: block;
  padding: 20px;
}

.navigation ul a:hover {
  background-color: #49505F;
}

.navibar {
  clear: both;
  font-size: 1.2rem;
  max-height: 0;  /* hide navigation bar when not clicked*/
  transition: max-height .2s ease-out;
}

.menu-icon {
  background-color: #383E4C;
  border: 1px solid #646d7c;
  border-radius: 10%;
  cursor: pointer;
  float: right; /* float hamburger menu to right*/
  margin: 10px;
  padding: 15px 10px;
  position: relative;
}

/*** Hamburger menu icon starts ***/
.nav-icon {
  background: #fff;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
}

.nav-icon:before {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
}

.nav-icon::after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -5px;
}

.menu-btn {
  display: none;
}

/* open navibar on click*/
.menu-btn:checked ~ .navibar { /*selects sibling 'navibar' when menu-btn checked*/
  max-height: 100%;
}

/*animate hamburger menu*/
.menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
/*** Hamburger menu ends ***/

/*** Desktop navigation menu starts ***/
@media (min-width: 768px) {

  .navigation {
    background-color: #383E4C;
    padding: 2px 5px 5px;
  }

  .navigation li {
    display: inline-block;
    margin: 0 .5%;
  }

  .navigation li a {
    font-size: 1rem; /*1.2*/
    padding: 15px 20px;
  }

  .navigation .navibar {
    max-height: none;
  }

  .menu-icon {
    display: none;
  }
}

@media (min-width: 990px) {
  .navigation li a {
    font-size: 1.3rem; /*1.5*/
  }
}


/*** Desktop navigation menu ends ***/

/***************** 2. Top Heading *******************/

header {
  margin-bottom: 50px;
  padding: 300px 50px 200px;
}

/***************** 3. Features *******************/

@media (max-width: 767px) {
  .feature-content {
    max-width: 360px;
    margin: 0 auto 30px;
  }
}

.feature-content h2 {
  padding: 15px 20px 0;
  text-align: left;
}

.color-green {
  color: #178A27;
}

.color-blue {
  color: #1686C1;
}

.feature-btn {
  border: none;
  border-radius: 7px;
  color: white;
}

.green-btn {
  background-color: #178A27;
}

.green-btn:hover {
  background-color: #449D44;
}

.blue-btn {
  background-color: #1686C1;
}

.blue-btn:hover {
  background-color: #31B0D5;
}

.red-btn {
  background-color: #852406;
}

.red-btn:hover {
  background-color: #C9302C
}

/***************** 4. Blog *******************/

.blog-content h2 {
  padding: 15px 0;
}

@media (max-width: 767px) {
  .blog-content {
    max-width: 555px;
    margin: 0 auto 30px;
  }
}

/***************** 5. Services *******************/

.service-content p {
  color: #fff;
  font-size: 1.5rem;
  padding: 0 50px;
  text-align: center;
}

.service-img {
  background-image: url("../images/bg-2.jpg");
  padding: 100px 0;
}

/***************** 6. Testimonials *******************/

.testimonial-content {
  max-width: 260px;
  margin: 0 auto 30px;
}

.testimonial-content h2 {
  padding: 20px 0 0;
}

.testimonial-big .card-text {
  text-align: left;
}

.testimonial-big h2 {
  padding: 40px 20px 0;
}

.testimonial-big p {
  padding:10px 20px 0;
}

.testimonial-big .btn {
  margin-left: 20px;
}

/***************** 7. Contact *******************/

.contact-img {
  background-image: url("../images/bg-3.jpg");
  padding: 100px 0;
}

@media (min-width: 768px){
  .contact-section .container {
    width: 750px;
    }
  }

@media (min-width: 992px) {
  .contact-section .container {
    width: 970px;
  }
}

.contact-section .mid-heading {
  text-shadow: 2px 2px #000;
}

.contact-section p {
  background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
  border-radius: 7px;
  color: #000;
  margin: 10px;
  padding: 20px 40px;
}

.contact-field input, .text-field textarea {
  background: rgba(242, 242, 242, 0.4);
  border: none;
  border-radius: 7px;
  color: #000;
  font-size: 1.1rem;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}

.contact-field input::placeholder, .text-field textarea::placeholder {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
}

.text-field {
  text-align: left;
}

.black-btn {
  background-color: #000;
  border: 1px solid #D0D0D0;
  border-radius: 12px;
  color: #fff;
  margin-left: 0;
  padding: 12px 35px;
}

.black-btn:hover {
  background-color: #F9F9F9;
  color: #666666;
}

/***************** 8. Footer *******************/

.footer-text {
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
}

.footer-text h1 {
  color: #666666;
  text-align: center;
  font-style: italic;
  text-shadow: none;
}
.footer-text p {
  color: #666666;
  font-style: italic;
  text-align: center;
}

.copyright-text p {
  font-size: 0.8rem;
  margin: 30px auto;
  text-align: center;
}
